/* PostListSidebar Component Styles */

:root  {
  --wp-components-color-accent: #0073aa;
  --wp-components-color-accent-darker-10: #006ba1;
  --wp-components-color-accent-darker-20: #005a87;
}
.fanculo-tab-panel {

  button:after {
    display: none;
  }

  .components-tab-panel__tabs {

    display: flex;
    border: 1px solid var(--color-stone-200);
    border-radius: var(--radius-sm);
    overflow: hidden;
    padding: 2px;
    background: var(--color-white);

    .components-button {
      padding: 8px 12px !important;
      background: transparent !important;
    }

    .components-button.is-active {
      background: #000 !important;
      color: #fff !important;
      font-weight: 600 !important;
      border-radius: var(--radius-sm) !important;
    }

    .is-active svg {
      opacity: 1;
    }

  }


  .tab-content {
    padding: 0;
  }




}