body {
    @apply bg-base-1 text-contrast;
}

h1, h2, h3 {
    @apply text-contrast;
}

#wpfooter {
    display: none;
}

#wpcontent {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 !important;
}