@import "tailwindcss";

@theme {
  --text-xxs: 12px;
  --spacing-sidebar: 300px;
  
  --color-ui-outline: var(--color-stone-300);
  
  --sidebar-max-height: calc(100vh - 150px);
}




/* ------------------------------------------------------------------------------------- */
/* WP UI Reset */
/* ------------------------------------------------------------------------------------- */

html, body  { 
  padding: 0 !important;
  background-color: white;
  height: 100%;
}
#wpadminbar { display: none !important; }
#wpcontent { padding-left: 0px }
#wpfooter { display: none !important; }
#wpbody-content {padding: 0px }

.wrap {
  margin: 0;
  padding: 0;
}



/* Base styles for WordPress admin integration */
#fanculo-root {
  height: 100vh;
  /* border: 10px solid rgba(255, 0, 0, 0.257); */
  display: grid;
  grid-template-rows: 60px 1fr;
}


.components-menu-group button {
  height: inherit !important;
  text-align: left;
}

.components-tab-panel__tabs-item {
  font-weight: 400;
  height: unset !important;
  margin-left: 0;
  padding: 12px 8px;
}