@import "tailwindcss";

@theme {
  --text-xxs: 12px;
  --spacing-sidebar: 300px;
  --color-ui-outline: var(--color-stone-300);
  --sidebar-max-height: calc(100vh - 150px);
}




/* ------------------------------------------------------------------------------------- */
/* WP UI Reset */
/* ------------------------------------------------------------------------------------- */

html, body  { 
  padding: 0 !important;
  background-color: white;
  height: 100%;
}
#wpadminbar { display: none !important; }
#wpcontent { padding-left: 0px }
#wpfooter { display: none !important; }
#wpbody-content {padding: 0px }

.wrap {
  margin: 0;
  padding: 0;
}
