@import "tailwindcss";
@import './styles/reset-wp.css';

@theme {
    --color-*: initial;
    --color-base: #191c22;
    --color-contrast: #aab2c0;
    --color-action: #5858eb;
    --color-outline: #25282d;
}



#editor {
    border: 2px solid red;
    display: flex;
    height: calc(100vh - 32px);
    height: calc(100vh - 100px);
    flex-wrap: wrap;
}

#editor-header {
    border: 2px solid rgb(255, 255, 47);
    width: 100%;
}

#editor-content {
    border: 2px solid greenyellow;
    flex-grow: 1;
    height: fit-content;
}


#editor-list {
    border: 2px solid blue;
    overflow: scroll;
}

#editor-settings {
    border: 2px solid violet;
}